@import "./base/fuentes";
@import "./base/reset";
@import "./componentes/botones";
@import "./base/general";
@import "./base/variables";
@import "./base/mixins";
@import "./base/keyframes";
@import "./componentes/header";
@import "./componentes/greetings";
@import "./componentes/productosrecomendados";
@import "./componentes/nosotros";
@import "./componentes/reviewcards";
@import "./componentes/faqs";
@import "./componentes/newsletter";
@import "./componentes/contactorrss";
@import "./componentes/footer";
@import "./base/mediaqueries"