@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;0,900;1,400&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Lato', sans-serif; }

:root {
  font-size: 24px; }

.botonProdsRecomendados {
  font-weight: 600;
  font-size: 20px;
  color: #FFFFFF;
  background-color: #880935;
  width: 212px;
  height: 56px; }
  .botonProdsRecomendados img {
    width: 28px; }

/* Botones Descuentos */
.botonDescuento {
  font-size: 13px;
  padding: 0.5rem 0;
  width: 300px;
  height: 48px;
  color: #242424;
  background-color: #FFFFFF; }

.botonDescuentoClickeado {
  font-size: 13px;
  background-color: #880935;
  color: #FFFFFF;
  font-weight: bold;
  width: 280px;
  height: 48px; }

/* botones descuentos Fijo bottom */
.botonDescuentoFijo {
  font-size: 13px;
  width: 328px;
  height: 48px;
  color: #FFFFFF;
  background-color: #880935; }

.botonDescuentoClickeadoFijo {
  font-size: 13px;
  background-color: #FFFFFF;
  color: #242424;
  font-weight: bold;
  width: 328px;
  height: 48px; }

.barritaProd {
  color: #F088AF;
  background-color: #F088AF;
  height: 3px;
  border: none;
  border-radius: 10px;
  width: 98px; }

/* Boton */
.boton {
  display: flex;
  text-decoration: none;
  gap: 0.5rem;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  border: none;
  border-radius: 50px; }
  .boton:hover {
    cursor: pointer; }

.gradiente {
  background: linear-gradient(0deg, #ffaecd 0%, rgba(255, 174, 205, 0.260924) 33.3%, rgba(255, 174, 205, 0.26) 66.66%, #ffaecd 100%); }

.latoReg13 {
  font-size: 13px; }

.latoBold12 {
  font-weight: bold;
  font-size: 12px; }

.latoReg16 {
  font-size: 16px;
  font-weight: normal; }

.latoItalic20 {
  font-style: italic;
  font-size: 20px; }

.latoReg20 {
  font-size: 20px; }

.latoBold20 {
  font-weight: 600;
  font-size: 20px; }

.latoReg24 {
  font-size: 24px; }

.latoBold24 {
  font-weight: bold;
  font-size: 24px; }

.latoExtraBold24 {
  font-weight: bolder;
  font-size: 24px; }

.latoBold32 {
  font-weight: bold;
  font-size: 32px; }

.latoBlack32 {
  font-weight: 900;
  font-size: 32px; }

.latoBlack48 {
  font-weight: 900;
  font-size: 48px; }

.latoBlack64 {
  font-weight: 900;
  font-size: 64px; }

.header {
  position: relative;
  height: 96px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding-bottom: 1rem;
  padding-right: 15px;
  padding-left: 15px;
  background-color: #FFF2F7; }
  .header .logo {
    width: 76px;
    height: 41px; }
    .header .logo .nav-logo {
      width: 76px; }
  .header .btn-burger {
    width: 30px; }

.nav-mobile-collapsible-close {
  padding: 1rem 0;
  position: absolute;
  right: 0;
  top: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 337px;
  background-color: #FFF2F7;
  transform: translateY(-100%);
  transition: .2s ease-in; }
  .nav-mobile-collapsible-close .nav-mobile-title-container {
    position: relative;
    display: flex;
    align-content: center;
    justify-content: center;
    width: 100%;
    padding-top: .8rem; }
    .nav-mobile-collapsible-close .nav-mobile-title-container .nav-mobile-title {
      font-size: 20px;
      font-weight: normal; }
    .nav-mobile-collapsible-close .nav-mobile-title-container .btn-nav-close {
      position: absolute;
      right: 15px;
      width: 24px;
      height: 24px; }
  .nav-mobile-collapsible-close .barrita-header {
    color: #F088AF;
    background-color: #F088AF;
    height: 1px;
    border: none;
    border-radius: 10px;
    width: 100%; }
  .nav-mobile-collapsible-close .nav-mobile-menu {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center; }
    .nav-mobile-collapsible-close .nav-mobile-menu .nav-link-container {
      display: flex;
      align-items: center;
      gap: .5rem;
      margin: 10px 0; }
      .nav-mobile-collapsible-close .nav-mobile-menu .nav-link-container img {
        padding-top: 3px; }
      .nav-mobile-collapsible-close .nav-mobile-menu .nav-link-container a {
        font-size: 20px;
        color: black;
        text-decoration: none; }
  .nav-mobile-collapsible-close .nav-mobile-rrss-container {
    display: flex;
    align-content: center;
    gap: 1rem; }
    .nav-mobile-collapsible-close .nav-mobile-rrss-container a {
      width: 40px;
      display: flex;
      align-content: center;
      justify-content: center; }
      .nav-mobile-collapsible-close .nav-mobile-rrss-container a img {
        width: 1.3rem; }
      .nav-mobile-collapsible-close .nav-mobile-rrss-container a .nav-ico-instagram {
        width: 1.5rem; }

.nav-open {
  transform: translateY(0); }

.nav-desktop {
  display: none; }

.welcome-container {
  margin-top: 20px;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: .8rem;
  text-align: center;
  color: #242424; }

.welcome-description {
  display: flex;
  flex-direction: column;
  align-items: center; }
  .welcome-description .welcome-title {
    font-weight: 900;
    font-size: 40px; }
  .welcome-description .welcome-text {
    margin-top: 10px;
    width: 201px;
    text-align: center;
    font-size: 16px;
    font-weight: normal; }

.desc-code-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px; }
  .desc-code-container .code-info {
    font-size: 13px;
    width: 228px; }

.iralatienda-container-mobile {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center; }
  .iralatienda-container-mobile .iralatienda-title {
    font-size: 20px; }

.iralatienda-btn-desktop {
  display: none; }

.welcome-img {
  width: 237px; }

.prodsImg {
  width: 400px; }

/* Sección Productos recomendados */
.prodsImg {
  width: 400px; }

.prodsWrap {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4rem; }

.infoWrap {
  width: 448px;
  display: flex;
  flex-direction: column;
  gap: 1rem; }

.textoProdsR {
  line-height: 1.6rem; }

.prodsRecWrap {
  background-color: #FFFFFF;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  gap: 5rem;
  padding: 1rem 1rem;
  margin: 1rem; }

.invert {
  flex-direction: row-reverse; }

/* Fin Prods Destacados */
.contenedorPreguntas {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 2rem; }

.prodsTitulo {
  font-weight: 900;
  font-size: 48px; }

.contenedorInner {
  width: 100%;
  max-width: 800px; }

.pregTitulo {
  font-weight: 900;
  font-size: 48px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  margin-bottom: 1rem; }

.barritaProdpf {
  color: #F088AF;
  background-color: #F088AF;
  height: 3px;
  border: none;
  border-radius: 10px;
  width: 212px; }

.acordion {
  font-weight: bold;
  font-size: 24px;
  display: flex;
  align-items: center;
  justify-content: left;
  gap: 1rem;
  background-color: #FFFFFF;
  color: #242424;
  cursor: pointer;
  padding: 1rem;
  width: 100%;
  border: none;
  outline: none;
  border-bottom: solid 3px #FFE1EC; }

.border {
  border-radius: 20px 20px 0 0; }

.borderR {
  border-radius: 0 0 20px 20px; }

.panel {
  background-color: #FFFFFF;
  display: none;
  border-bottom: solid 3px #FFE1EC;
  padding: 2rem;
  overflow: hidden;
  border-left: solid 4px #F088AF; }

.panel p {
  font-size: 20px; }

.activo {
  display: block; }

/* Footer */
.fixed {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0; }

.codigoyTexto {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #FFFFFF;
  padding: 0.5rem 0;
  box-shadow: 0 0 1px rgba(0, 0, 0, 0.507); }

.iconoSubir {
  display: flex;
  justify-content: center;
  padding: 0.5rem; }
  .iconoSubir img {
    cursor: pointer;
    box-shadow: 0 0 1px rgba(0, 0, 0, 0.507);
    border-radius: 50%; }

/* Fin Footer */
.nosotros-container {
  padding: 2rem; }
  .nosotros-container .nosotros-title {
    font-weight: 900;
    font-size: 32px; }
  .nosotros-container .barrita-nosotros {
    margin-top: 1rem;
    margin-bottom: -.5rem;
    color: #F088AF;
    background-color: #F088AF;
    height: 2px;
    border: none;
    border-radius: 10px;
    width: 130px; }
  .nosotros-container .nosotros-description {
    font-size: 16px;
    font-weight: normal;
    line-height: 24px;
    margin-top: 1rem;
    width: 280px; }

.testimonios-container {
  padding: 1rem;
  display: flex;
  overflow-x: scroll; }
  .testimonios-container .testimonios-card {
    margin: 0 20px;
    height: 264px;
    min-width: 216px;
    padding: 1rem;
    background-color: #FFFFFF;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    border-radius: 10px; }
    .testimonios-container .testimonios-card img {
      width: 40px;
      height: 40px; }
    .testimonios-container .testimonios-card .user-name {
      font-weight: 600;
      font-size: 20px;
      color: #880935;
      text-rendering: geometricPrecision; }
    .testimonios-container .testimonios-card .testimonio-usuario {
      margin: 15px 0;
      line-height: .8rem;
      width: 172px;
      text-align: center;
      text-rendering: optimizeLegibility;
      font-size: 14px;
      font-weight: normal; }
    .testimonios-container .testimonios-card .card-facebook {
      font-style: italic;
      font-size: 12px; }

@media only screen and (max-width: 768px) {
  /* Preguntas Frecuentes */
  .acordion {
    font-weight: bold;
    font-size: 12px; }
  .codigoyTexto {
    justify-content: center; }
    .codigoyTexto p {
      display: none; }
  .panel {
    padding: 1rem; }
    .panel p {
      font-size: 13px; }
  /* Productos Destacados */
  .pregTitulo {
    font-weight: 900;
    font-size: 32px;
    align-items: flex-start; }
  .prodsWrap {
    flex-direction: column;
    gap: 0;
    background-color: #FFFFFF;
    border-radius: 20px; }
  .infoWrap {
    width: auto;
    align-items: center;
    padding: 1rem; }
  .invert {
    flex-direction: column; }
  .prodsTitulo {
    font-weight: 900;
    font-size: 32px; }
  .textoProdsR {
    line-height: 1rem;
    text-align: center;
    font-size: 16px;
    font-weight: normal; }
  .prodsImg {
    width: 216px; }
  .prodsRecWrap {
    background-color: rgba(255, 255, 255, 0);
    gap: 1rem; }
  .barritaProd {
    color: #F088AF;
    background-color: #F088AF;
    height: 3px;
    border: none;
    border-radius: 10px;
    width: 160px; } }

/* animacion */
.animacionWiggle {
  animation: Wiggle 1s  1 alternate ease-out forwards; }

@keyframes Wiggle {
  0% { }
  20% {
    transform: translate(-4rem, 0); }
  40% {
    transform: translate(4rem, 0); }
  60% {
    transform: translate(-2rem, 0); }
  80% {
    transform: translate(2rem, 0); }
  100% { } }
