@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;0,900;1,400&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Lato', sans-serif; }

:root {
  font-size: 24px; }

main {
  display: flex;
  flex-direction: column;
  gap: 1rem; }

.botonProdsRecomendados {
  font-weight: 600;
  font-size: 20px;
  color: #FFFFFF;
  background-color: #880935;
  width: 212px;
  height: 56px; }
  .botonProdsRecomendados img {
    width: 28px; }

/* Botones Descuentos */
.botonDescuento {
  font-size: 13px;
  padding: 0.5rem 0;
  width: 300px;
  height: 48px;
  color: #242424;
  background-color: #FFFFFF; }

.botonDescuentoClickeado {
  font-size: 13px;
  padding: 0.5rem 0;
  background-color: #880935;
  color: #FFFFFF;
  font-weight: bold;
  width: 300px;
  height: 48px; }

/* botones descuentos Fijo bottom */
.botonDescuentoFijo {
  font-size: 13px;
  width: 328px;
  height: 48px;
  color: #FFFFFF;
  background-color: #880935; }

.botonDescuentoClickeadoFijo {
  font-size: 13px;
  background-color: #FFFFFF;
  color: #242424;
  font-weight: bold;
  width: 328px;
  height: 48px; }

/* Boton */
.boton {
  display: flex;
  text-decoration: none;
  gap: 0.5rem;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  border: none;
  border-radius: 50px; }
  .boton:hover {
    cursor: pointer; }

/* Boton suscripcion */
.botonSuscripcion {
  font-weight: bold;
  font-size: 16px;
  color: #FFFFFF;
  background-color: #880935;
  width: 280px;
  height: 40px; }
  .botonSuscripcion img {
    width: 28px; }

.gradiente {
  background: linear-gradient(0deg, #ffaecd 0%, rgba(255, 174, 205, 0.260924) 33.3%, rgba(255, 174, 205, 0.26) 66.66%, #ffaecd 100%); }

.latoReg13 {
  font-size: 13px; }

.latoBold12 {
  font-weight: bold;
  font-size: 12px; }

.latoReg16 {
  font-size: 16px;
  font-weight: normal; }

.latoItalic20 {
  font-style: italic;
  font-size: 20px; }

.latoReg20 {
  font-size: 20px; }

.latoBold20 {
  font-weight: 600;
  font-size: 20px; }

.latoReg24 {
  font-size: 24px; }

.latoBold24 {
  font-weight: bold;
  font-size: 24px; }

.latoExtraBold24 {
  font-weight: bolder;
  font-size: 24px; }

.latoBold32 {
  font-weight: bold;
  font-size: 32px; }

.latoBlack32 {
  font-weight: 900;
  font-size: 32px; }

.latoBlack48 {
  font-weight: 900;
  font-size: 48px; }

.latoBlack64 {
  font-weight: 900;
  font-size: 64px; }

.header {
  position: relative;
  height: 96px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding-bottom: 1rem;
  padding-right: 15px;
  padding-left: 15px;
  background-color: #FFF2F7; }
  .header .logo {
    width: 76px;
    height: 41px; }
    .header .logo .nav-logo {
      width: 76px; }
  .header .btn-burger {
    width: 30px; }

.nav-mobile-collapsible-close {
  padding: 1rem 0;
  position: absolute;
  right: 0;
  top: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 337px;
  background-color: #FFF2F7;
  transform: translateY(-100%);
  transition: .2s ease-in; }
  .nav-mobile-collapsible-close .nav-mobile-title-container {
    position: relative;
    display: flex;
    align-content: center;
    justify-content: center;
    width: 100%;
    padding-top: .8rem; }
    .nav-mobile-collapsible-close .nav-mobile-title-container .nav-mobile-title {
      font-size: 20px;
      font-weight: normal; }
    .nav-mobile-collapsible-close .nav-mobile-title-container .btn-nav-close {
      position: absolute;
      right: 16px;
      top: 20px;
      width: 28px;
      height: 28px; }
  .nav-mobile-collapsible-close .barrita-header {
    color: #F088AF;
    background-color: #F088AF;
    height: 1px;
    border: none;
    border-radius: 10px;
    width: 100%; }
  .nav-mobile-collapsible-close .nav-mobile-menu {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center; }
    .nav-mobile-collapsible-close .nav-mobile-menu .nav-link-container {
      display: flex;
      align-items: center;
      gap: .5rem;
      margin: 10px 0; }
      .nav-mobile-collapsible-close .nav-mobile-menu .nav-link-container img {
        padding-top: 3px; }
      .nav-mobile-collapsible-close .nav-mobile-menu .nav-link-container a {
        font-size: 20px;
        color: black;
        text-decoration: none; }
  .nav-mobile-collapsible-close .nav-mobile-rrss-container {
    display: flex;
    align-content: center;
    gap: 1rem; }
    .nav-mobile-collapsible-close .nav-mobile-rrss-container a {
      width: 40px;
      display: flex;
      align-content: center;
      justify-content: center; }
      .nav-mobile-collapsible-close .nav-mobile-rrss-container a img {
        width: 1.3rem; }
      .nav-mobile-collapsible-close .nav-mobile-rrss-container a .nav-ico-instagram {
        width: 1.5rem; }

.nav-open {
  transform: translateY(0); }

.nav-desktop {
  display: none; }

.welcome-container {
  margin-top: 1.2rem;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: .8rem;
  text-align: center;
  color: #242424; }

.welcome-description {
  display: flex;
  flex-direction: column;
  align-items: center; }
  .welcome-description .welcome-title {
    font-weight: 900;
    font-size: 40px; }
  .welcome-description .welcome-text {
    margin-top: 10px;
    width: 201px;
    text-align: center;
    font-size: 16px;
    font-weight: normal; }

.desc-code-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px; }
  .desc-code-container .code-info {
    font-size: 13px;
    width: 228px; }

.iralatienda-container-mobile {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center; }
  .iralatienda-container-mobile .iralatienda-title {
    font-size: 20px; }

.iralatienda-btn-desktop {
  display: none; }

.welcome-img {
  width: 237px; }

.productos-rec-container {
  display: flex;
  align-items: center;
  justify-content: center; }
  .productos-rec-container .prodsRecWrap {
    background-color: rgba(255, 255, 255, 0);
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1rem 0;
    margin: 1rem;
    width: 328px;
    min-width: 328px; }
    .productos-rec-container .prodsRecWrap .prodsWrap {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 0;
      background-color: #FFFFFF;
      border-radius: 20px;
      padding: 1rem; }
      .productos-rec-container .prodsRecWrap .prodsWrap div .prodsImg {
        width: 216px; }
      .productos-rec-container .prodsRecWrap .prodsWrap .infoWrap {
        width: auto;
        align-items: center;
        display: flex;
        padding: 0 1rem 1rem 1rem;
        flex-direction: column;
        gap: 1rem; }
        .productos-rec-container .prodsRecWrap .prodsWrap .infoWrap .prodsTitulo {
          font-weight: 900;
          font-size: 32px;
          text-align: center; }
        .productos-rec-container .prodsRecWrap .prodsWrap .infoWrap .textoProdsR {
          line-height: 1rem;
          text-align: center;
          font-size: 16px;
          font-weight: normal; }
        .productos-rec-container .prodsRecWrap .prodsWrap .infoWrap .barritaProd {
          color: #F088AF;
          background-color: #F088AF;
          height: 3px;
          border: none;
          border-radius: 10px;
          width: 160px; }
    .productos-rec-container .prodsRecWrap .invert {
      flex-direction: column; }

.nosotros-container {
  padding: 2rem; }
  .nosotros-container .nosotros-title {
    font-weight: 900;
    font-size: 32px; }
  .nosotros-container .barrita-nosotros {
    margin-top: 1rem;
    margin-bottom: -.5rem;
    color: #F088AF;
    background-color: #F088AF;
    height: 2px;
    border: none;
    border-radius: 10px;
    width: 130px; }
  .nosotros-container .nosotros-description {
    font-size: 16px;
    font-weight: normal;
    line-height: 24px;
    margin-top: 1rem;
    width: 280px; }

.testimonios-container {
  padding: 1rem;
  display: flex;
  overflow-x: scroll; }
  .testimonios-container .testimonios-card {
    margin: 0 20px;
    height: 264px;
    min-width: 216px;
    padding: 1rem;
    background-color: #FFFFFF;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    border-radius: 10px; }
    .testimonios-container .testimonios-card img {
      width: 40px;
      height: 40px; }
    .testimonios-container .testimonios-card .user-name {
      font-weight: bold;
      font-size: 16px;
      color: #880935;
      text-rendering: geometricPrecision; }
    .testimonios-container .testimonios-card .testimonio-usuario {
      margin: 15px 0;
      line-height: .8rem;
      width: 172px;
      text-align: center;
      text-rendering: optimizeLegibility;
      font-size: 14px;
      font-weight: normal; }
    .testimonios-container .testimonios-card .card-facebook {
      font-style: italic;
      font-size: 12px; }

.faq-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 2rem; }
  .faq-container .contenedorInner {
    width: 100%;
    max-width: 800px; }
    .faq-container .contenedorInner .pregTitulo {
      font-weight: 900;
      font-size: 32px;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      gap: 1rem;
      margin-bottom: 1rem;
      line-height: 1.3rem; }
      .faq-container .contenedorInner .pregTitulo .barritaProdpf {
        color: #F088AF;
        background-color: #F088AF;
        height: 3px;
        border: none;
        border-radius: 10px;
        width: 160px; }
    .faq-container .contenedorInner .acordion {
      font-weight: bold;
      font-size: 12px;
      display: flex;
      align-items: center;
      justify-content: left;
      gap: .2rem;
      background-color: #FFFFFF;
      color: #242424;
      cursor: pointer;
      padding: 1rem;
      width: 100%;
      border: none;
      outline: none;
      border-bottom: solid 3px #FFE1EC;
      text-align: start;
      font-weight: 600; }
    .faq-container .contenedorInner .border {
      border-radius: 20px 20px 0 0; }
    .faq-container .contenedorInner .borderR {
      border-radius: 0 0 20px 20px; }
    .faq-container .contenedorInner .panel {
      background-color: #FFFFFF;
      display: none;
      border-bottom: solid 3px #FFE1EC;
      padding: 1rem;
      overflow: hidden;
      border-left: solid 4px #F088AF;
      /* para Js */ }
      .faq-container .contenedorInner .panel p {
        font-size: 13px; }
    .faq-container .contenedorInner .activo {
      display: block; }

.newsletter-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: .5rem; }
  .newsletter-container .newsletter-img {
    width: 232px; }
  .newsletter-container .newsletter-title {
    font-weight: 900;
    font-size: 32px;
    text-align: center; }
  .newsletter-container .barrita-newsletter {
    color: #F088AF;
    background-color: #F088AF;
    height: 0.1rem;
    border: none;
    border-radius: 10px;
    width: 180px; }
  .newsletter-container .newsletter-text {
    font-size: 14px;
    font-weight: normal;
    text-align: center;
    width: 288px; }

.contact-rrss-container {
  display: flex;
  flex-direction: column;
  align-items: center; }
  .contact-rrss-container .rrss-img {
    width: 232px; }
  .contact-rrss-container .rrss-title {
    font-weight: 900;
    font-size: 32px;
    text-align: center; }
  .contact-rrss-container .barrita-rrss {
    color: #F088AF;
    background-color: #F088AF;
    height: 2px;
    border: none;
    border-radius: 10px;
    width: 160px;
    margin: .5rem 0; }
  .contact-rrss-container .rrss-ico-container {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: 1rem; }
    .contact-rrss-container .rrss-ico-container a img {
      width: calc(1.3rem*1.5); }
    .contact-rrss-container .rrss-ico-container a .rrss-ico-instagram {
      width: calc(1.5rem*1.5); }

.casi-footer {
  margin-bottom: 5rem;
  display: flex;
  justify-content: center; }
  .casi-footer img {
    margin: 2rem 0;
    width: 200px;
    /* height: 72px; */ }

.footer-container .codigoyTexto {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #FFFFFF;
  padding: 0.5rem 0;
  box-shadow: 0 0 1px rgba(0, 0, 0, 0.507); }
  .footer-container .codigoyTexto p {
    display: none; }

.iconoSubir {
  width: 50px; }
  .iconoSubir img {
    cursor: pointer;
    box-shadow: 0 0 1px rgba(0, 0, 0, 0.507);
    border-radius: 50%; }

.fixed {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0; }

.fixed2 {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 0 calc(50% - 20px);
  margin-bottom: 3.5rem; }

@media only screen and (max-width: 768px) {
  /* Preguntas Frecuentes */
  /* .codigoyTexto{
        justify-content: space-around;
        p{
            display: none;
        }
    } */
  /* 
    .acordion{
        @include latoBold12;
    }
    .panel {
        padding: 1rem ;

        p{
            @include latoReg13;
        }
    }
    .pregTitulo{
        @include latoBlack32;
        align-items: flex-start;

    }
    // Productos Destacados 

    .prodsWrap{
        
        gap: 0;
        background-color: $blanco;
        border-radius: 20px;
    }
    .infoWrap{
        width: auto;
        align-items: center;
        padding: 0 1rem 1rem 1rem;
    }
    .invert{
        flex-direction: column;
    }
    .prodsTitulo{
        
    }
    .textoProdsR{
        line-height: 1rem;
        text-align: center;
        @include latoReg16
    }
    .prodsImg{
        width: 216px;
    }
    .prodsRecWrap{
        background-color: rgba(255, 255, 255, 0);
        gap: 1rem;
    }
    .barritaProd{
        @include barrita(160px, 3px);
    }
 */ }

/* animacion */
.animacionWiggle {
  animation: Wiggle 1s  1 alternate ease-out forwards; }

@keyframes Wiggle {
  0% { }
  20% {
    transform: translate(-4rem, 0); }
  40% {
    transform: translate(4rem, 0); }
  60% {
    transform: translate(-2rem, 0); }
  80% {
    transform: translate(2rem, 0); }
  100% { } }
