@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;0,900;1,400&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Lato', sans-serif; }

html {
  scroll-behavior: smooth; }

:root {
  font-size: 24px; }

main {
  display: flex;
  flex-direction: column;
  gap: 1rem; }

.botonProdsRecomendados {
  font-weight: 600;
  font-size: 20px;
  color: #FFFFFF;
  background-color: #880935;
  width: 212px;
  height: 56px; }
  .botonProdsRecomendados img {
    width: 28px; }

/* Botones Descuentos */
.botonDescuento {
  font-size: 13px;
  padding: 0.5rem 0;
  width: 300px;
  height: 48px;
  color: #242424;
  background-color: #FFFFFF; }

.botonDescuentoClickeado {
  font-size: 13px;
  padding: 0.5rem 0;
  background-color: #880935;
  color: #FFFFFF;
  font-weight: bold;
  width: 300px;
  height: 48px; }

/* botones descuentos Fijo bottom */
.botonDescuentoFijo {
  font-size: 13px;
  width: 328px;
  height: 48px;
  color: #FFFFFF;
  background-color: #880935; }

.botonDescuentoClickeadoFijo {
  font-size: 13px;
  background-color: #FFFFFF;
  color: #242424;
  font-weight: bold;
  width: 328px;
  height: 48px; }

/* Boton */
.boton {
  display: flex;
  text-decoration: none;
  gap: 0.5rem;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  border: none;
  border-radius: 50px; }
  .boton:hover {
    cursor: pointer; }

/* Boton suscripcion */
.botonSuscripcion {
  font-weight: bold;
  font-size: 16px;
  color: #FFFFFF;
  background-color: #880935;
  width: 280px;
  height: 40px; }
  .botonSuscripcion img {
    width: 28px; }

.gradiente {
  background: linear-gradient(0deg, #ffaecd 0%, rgba(255, 174, 205, 0.260924) 33.3%, rgba(255, 174, 205, 0.26) 66.66%, #ffaecd 100%); }

.latoReg13 {
  font-size: 13px; }

.latoBold12 {
  font-weight: bold;
  font-size: 12px; }

.latoReg16 {
  font-size: 16px;
  font-weight: normal; }

.latoItalic20 {
  font-style: italic;
  font-size: 20px; }

.latoReg20 {
  font-size: 20px; }

.latoBold20 {
  font-weight: 600;
  font-size: 20px; }

.latoReg24 {
  font-size: 24px; }

.latoBold24 {
  font-weight: bold;
  font-size: 24px; }

.latoExtraBold24 {
  font-weight: bolder;
  font-size: 24px; }

.latoBold32 {
  font-weight: bold;
  font-size: 32px; }

.latoBlack32 {
  font-weight: 900;
  font-size: 32px; }

.latoBlack48 {
  font-weight: 900;
  font-size: 48px; }

.latoBlack64 {
  font-weight: 900;
  font-size: 64px; }

.header {
  position: relative;
  height: 96px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding-bottom: 1rem;
  padding-right: 15px;
  padding-left: 15px;
  background-color: #FFF2F7; }
  @media only screen and (min-width: 1224px) {
    .header {
      padding-bottom: 0;
      padding-right: 0;
      padding-left: 0;
      padding: 0 7rem;
      align-items: center;
      justify-content: space-between; } }
  .header .logo {
    width: 76px;
    height: 41px; }
    @media only screen and (min-width: 1224px) {
      .header .logo {
        height: 73px;
        width: 130px; } }
    .header .logo .nav-logo {
      width: 76px; }
      @media only screen and (min-width: 1224px) {
        .header .logo .nav-logo {
          width: 130px; } }
  .header .btn-burger {
    width: 30px; }
    @media only screen and (min-width: 1224px) {
      .header .btn-burger {
        display: none; } }

.nav-mobile-collapsible-close {
  padding: 1rem 0;
  position: absolute;
  right: 0;
  top: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 337px;
  background-color: #FFF2F7;
  transform: translateY(-100%);
  transition: .2s ease-in; }
  @media only screen and (min-width: 1224px) {
    .nav-mobile-collapsible-close {
      display: none; } }
  .nav-mobile-collapsible-close .nav-mobile-title-container {
    position: relative;
    display: flex;
    align-content: center;
    justify-content: center;
    width: 100%;
    padding-top: .8rem; }
    .nav-mobile-collapsible-close .nav-mobile-title-container .nav-mobile-title {
      font-size: 20px;
      font-weight: normal; }
    .nav-mobile-collapsible-close .nav-mobile-title-container .btn-nav-close {
      position: absolute;
      right: 16px;
      top: 20px;
      width: 28px;
      height: 28px; }
  .nav-mobile-collapsible-close .barrita-header {
    color: #F088AF;
    background-color: #F088AF;
    height: 1px;
    border: none;
    border-radius: 10px;
    width: 100%; }
  .nav-mobile-collapsible-close .nav-mobile-menu {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center; }
    .nav-mobile-collapsible-close .nav-mobile-menu .nav-link-container {
      display: flex;
      align-items: center;
      gap: .5rem;
      margin: 10px 0; }
      .nav-mobile-collapsible-close .nav-mobile-menu .nav-link-container img {
        padding-top: 3px; }
      .nav-mobile-collapsible-close .nav-mobile-menu .nav-link-container a {
        font-size: 20px;
        color: black;
        text-decoration: none; }
  .nav-mobile-collapsible-close .nav-mobile-rrss-container {
    display: flex;
    align-content: center;
    gap: 1rem; }
    .nav-mobile-collapsible-close .nav-mobile-rrss-container a {
      width: 40px;
      display: flex;
      align-content: center;
      justify-content: center; }
      .nav-mobile-collapsible-close .nav-mobile-rrss-container a img {
        width: 1.3rem; }
      .nav-mobile-collapsible-close .nav-mobile-rrss-container a .nav-ico-instagram {
        width: 1.5rem; }

.nav-open {
  transform: translateY(0); }

.nav-desktop {
  display: none; }

@media only screen and (min-width: 1224px) {
  .nav-desktop {
    display: flex; }
    .nav-desktop ul {
      display: flex;
      gap: 2rem;
      align-items: center; }
      .nav-desktop ul li {
        list-style-type: none; }
        .nav-desktop ul li a {
          font-weight: 600;
          font-size: 20px;
          text-decoration: none;
          color: #880935; } }

.welcome-container {
  margin-top: 1.2rem;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: .8rem;
  text-align: center;
  color: #242424; }
  @media only screen and (min-width: 768px) {
    .welcome-container {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 1fr 0.8fr 0.8fr;
      gap: 0; } }
  @media only screen and (min-width: 1224px) {
    .welcome-container {
      grid-template-rows: 50px 1fr 0.8fr 0.8fr;
      width: 75vw;
      margin: 1rem auto;
      column-gap: 3rem; } }
  @media only screen and (min-width: 1440px) {
    .welcome-container {
      margin: 5rem auto; } }

.welcome-description {
  display: flex;
  flex-direction: column;
  align-items: center; }
  @media only screen and (min-width: 768px) {
    .welcome-description {
      width: 315px;
      grid-row: 1 / 2;
      grid-column: 2 / 3;
      align-self: flex-end;
      justify-self: center; } }
  @media only screen and (min-width: 1224px) {
    .welcome-description {
      grid-row: 2 / 3; } }
  .welcome-description .welcome-title {
    font-weight: 900;
    font-size: 40px; }
    @media only screen and (min-width: 1224px) {
      .welcome-description .welcome-title {
        font-weight: 900;
        font-size: 64px; } }
  .welcome-description .welcome-text {
    font-size: 16px;
    font-weight: normal;
    margin-top: 10px;
    width: 201px;
    text-align: center; }
    @media only screen and (min-width: 768px) {
      .welcome-description .welcome-text {
        margin-top: 5px;
        width: 315px;
        line-height: 0.9rem; } }
    @media only screen and (min-width: 1224px) {
      .welcome-description .welcome-text {
        font-size: 24px;
        width: 472px;
        letter-spacing: -1px;
        line-height: 1.2rem; } }

.desc-code-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px; }
  @media only screen and (min-width: 768px) {
    .desc-code-container {
      grid-row: 2 / 3;
      grid-column: 2 / 3;
      align-self: flex-start;
      padding-top: .9rem; } }
  @media only screen and (min-width: 1224px) {
    .desc-code-container {
      grid-row: 3 / 4; } }
  .desc-code-container .code-info {
    font-size: 13px;
    width: 228px; }
    @media only screen and (min-width: 768px) {
      .desc-code-container .code-info {
        font-size: 16px;
        font-weight: normal;
        width: 300px; } }
  @media only screen and (min-width: 1224px) {
    .desc-code-container .botonDescuento {
      width: 350px;
      height: 40px; } }

.iralatienda-container-mobile {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center; }
  .iralatienda-container-mobile .iralatienda-title {
    font-size: 20px; }
  @media only screen and (min-width: 768px) {
    .iralatienda-container-mobile {
      display: none; } }

.iralatienda-btn-desktop {
  display: none;
  /* Boton */ }
  @media only screen and (min-width: 768px) {
    .iralatienda-btn-desktop {
      display: flex;
      justify-self: center;
      align-self: flex-start;
      padding-top: 5px;
      grid-row: 3 / 4;
      grid-column: 2 / 3; } }
  @media only screen and (min-width: 1224px) {
    .iralatienda-btn-desktop {
      grid-row: 4 / 5;
      align-self: flex-start; } }
  .iralatienda-btn-desktop .botonProdsRecomendados {
    font-weight: normal;
    width: 200px;
    height: 50px; }
    @media only screen and (min-width: 1224px) {
      .iralatienda-btn-desktop .botonProdsRecomendados {
        font-size: 20px;
        font-weight: normal;
        width: 200px;
        height: 45px;
        color: #FFFFFF;
        background-color: #880935; }
        .iralatienda-btn-desktop .botonProdsRecomendados img {
          width: 25px; } }

.welcome-img {
  width: 237px; }
  @media only screen and (min-width: 768px) {
    .welcome-img {
      grid-row: 1 / 4;
      grid-column: 1 / 2;
      width: 350px;
      justify-self: center; } }
  @media only screen and (min-width: 1224px) {
    .welcome-img {
      grid-row: 1 / 5;
      width: 432px; } }

.productos-rec-container {
  display: flex;
  align-items: center;
  justify-content: center; }
  @media only screen and (min-width: 768px) {
    .productos-rec-container {
      justify-content: start;
      overflow: hidden; } }
  @media only screen and (min-width: 768px) {
    .productos-rec-container {
      justify-content: center;
      overflow: hidden; } }
  .productos-rec-container .prodsRecWrap {
    background-color: rgba(255, 255, 255, 0);
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1rem 0;
    margin: 1rem;
    min-width: 328px; }
    @media only screen and (min-width: 768px) {
      .productos-rec-container .prodsRecWrap {
        flex-direction: row;
        gap: 1.5rem;
        overflow-x: scroll; } }
    @media only screen and (min-width: 1224px) {
      .productos-rec-container .prodsRecWrap {
        flex-direction: row;
        gap: 0;
        overflow: hidden;
        border-radius: 25px;
        background-color: #FFFFFF;
        flex-direction: column;
        padding: 2.5rem 3rem; } }
    .productos-rec-container .prodsRecWrap .prodsWrap {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 0;
      background-color: #FFFFFF;
      border-radius: 20px;
      padding: 1rem;
      max-width: 350px; }
      @media only screen and (min-width: 768px) {
        .productos-rec-container .prodsRecWrap .prodsWrap {
          min-width: 350px;
          box-shadow: 8px 8px 14px rgba(75, 74, 74, 0.2); } }
      @media only screen and (min-width: 1224px) {
        .productos-rec-container .prodsRecWrap .prodsWrap {
          min-width: 350px;
          max-width: none;
          border-radius: 0;
          box-shadow: none;
          background-color: transparent;
          flex-direction: row;
          gap: 4rem; } }
      @media only screen and (min-width: 1224px) {
        .productos-rec-container .prodsRecWrap .prodsWrap .botonProdsRecomendados {
          align-self: flex-start;
          height: 40px;
          width: 175px;
          margin-top: 15px; } }
      .productos-rec-container .prodsRecWrap .prodsWrap div .prodsImg {
        width: 216px; }
        @media only screen and (min-width: 1224px) {
          .productos-rec-container .prodsRecWrap .prodsWrap div .prodsImg {
            width: 400px; } }
      .productos-rec-container .prodsRecWrap .prodsWrap .infoWrap {
        width: auto;
        align-items: center;
        display: flex;
        padding: 0 0.19rem 1rem 0.18rem;
        flex-direction: column;
        gap: 1rem; }
        @media only screen and (min-width: 1224px) {
          .productos-rec-container .prodsRecWrap .prodsWrap .infoWrap {
            max-width: 448px;
            gap: .6rem; } }
        .productos-rec-container .prodsRecWrap .prodsWrap .infoWrap .prodsTitulo {
          font-weight: 900;
          font-size: 32px;
          text-align: center; }
          @media only screen and (min-width: 1224px) {
            .productos-rec-container .prodsRecWrap .prodsWrap .infoWrap .prodsTitulo {
              font-weight: 900;
              font-size: 48px;
              text-align: start;
              width: 448px;
              padding-left: 2px; } }
        .productos-rec-container .prodsRecWrap .prodsWrap .infoWrap .textoProdsR {
          line-height: 1rem;
          text-align: center;
          font-size: 16px;
          font-weight: normal; }
          @media only screen and (min-width: 1224px) {
            .productos-rec-container .prodsRecWrap .prodsWrap .infoWrap .textoProdsR {
              font-size: 24px;
              width: 448px;
              text-align: start;
              padding-left: 4px;
              line-height: 1.5rem; } }
        .productos-rec-container .prodsRecWrap .prodsWrap .infoWrap .barritaProd {
          color: #F088AF;
          background-color: #F088AF;
          height: 3px;
          border: none;
          border-radius: 10px;
          width: 160px; }
          @media only screen and (min-width: 1224px) {
            .productos-rec-container .prodsRecWrap .prodsWrap .infoWrap .barritaProd {
              color: #F088AF;
              background-color: #F088AF;
              height: 3px;
              border: none;
              border-radius: 10px;
              width: 110px;
              align-self: flex-start; } }
    .productos-rec-container .prodsRecWrap .invert {
      flex-direction: column; }
      @media only screen and (min-width: 1224px) {
        .productos-rec-container .prodsRecWrap .invert {
          flex-direction: row-reverse; } }

.nosotros-container {
  padding: 2rem; }
  @media only screen and (min-width: 768px) {
    .nosotros-container {
      display: flex;
      flex-direction: column;
      align-items: center; } }
  .nosotros-container .nosotros-title {
    font-weight: 900;
    font-size: 32px; }
    @media only screen and (min-width: 768px) {
      .nosotros-container .nosotros-title {
        font-weight: 900;
        font-size: 40px; } }
    @media only screen and (min-width: 1224px) {
      .nosotros-container .nosotros-title {
        font-weight: 900;
        font-size: 48px; } }
  .nosotros-container .barrita-nosotros {
    margin-top: 1rem;
    margin-bottom: -.5rem;
    color: #F088AF;
    background-color: #F088AF;
    height: 2px;
    border: none;
    border-radius: 10px;
    width: 130px; }
    @media only screen and (min-width: 768px) {
      .nosotros-container .barrita-nosotros {
        margin-top: 0.8rem;
        margin-bottom: -.2rem;
        color: #F088AF;
        background-color: #F088AF;
        height: 3px;
        border: none;
        border-radius: 10px;
        width: 200px; } }
  .nosotros-container .nosotros-description {
    font-size: 16px;
    font-weight: normal;
    line-height: 24px;
    margin-top: 1rem;
    width: 280px; }
    @media only screen and (min-width: 768px) {
      .nosotros-container .nosotros-description {
        text-align: center;
        width: 720px;
        font-size: 20px; } }
    @media only screen and (min-width: 1224px) {
      .nosotros-container .nosotros-description {
        font-size: 24px; } }

.testimonios-container {
  padding: 1rem;
  display: flex;
  overflow-x: scroll;
  scroll-snap-type: x mandatory; }
  @media only screen and (min-width: 1224px) {
    .testimonios-container {
      justify-content: center;
      overflow: hidden; } }
  .testimonios-container .testimonios-card {
    scroll-snap-align: center;
    margin: 0 20px;
    height: 360px;
    min-width: 268px;
    padding: 1rem;
    background-color: #FFFFFF;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    border-radius: 14px;
    box-shadow: 8px 8px 14px rgba(75, 74, 74, 0.2); }
    .testimonios-container .testimonios-card img {
      width: 40px;
      height: 40px; }
    .testimonios-container .testimonios-card .user-name {
      font-weight: 600;
      font-size: 20px;
      letter-spacing: 1px;
      color: #880935;
      text-rendering: geometricPrecision;
      text-shadow: 1px 1px 8px rgba(0, 0, 0, 0.1); }
    .testimonios-container .testimonios-card .testimonio-usuario {
      margin: 15px 0;
      line-height: .8rem;
      width: 172px;
      text-align: center;
      text-rendering: optimizeLegibility;
      font-size: 16px;
      font-weight: normal; }
    .testimonios-container .testimonios-card .card-facebook {
      font-style: italic;
      font-size: 14px; }

.faq-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 2rem; }
  .faq-container .contenedorInner {
    width: 100%;
    max-width: 800px;
    /* para Js */ }
    .faq-container .contenedorInner .pregTitulo {
      font-weight: 900;
      font-size: 32px;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      gap: 1rem;
      margin-bottom: 1rem;
      line-height: 1.3rem; }
      @media only screen and (min-width: 768px) {
        .faq-container .contenedorInner .pregTitulo {
          align-items: center; } }
      .faq-container .contenedorInner .pregTitulo .barritaProdpf {
        color: #F088AF;
        background-color: #F088AF;
        height: 3px;
        border: none;
        border-radius: 10px;
        width: 160px; }
    .faq-container .contenedorInner .acordion {
      font-weight: bold;
      font-size: 12px;
      display: flex;
      align-items: center;
      justify-content: left;
      gap: .2rem;
      background-color: #FFFFFF;
      color: #242424;
      cursor: pointer;
      padding: 1rem;
      width: 100%;
      border: none;
      outline: none;
      border-bottom: solid 2px #FFE1EC;
      text-align: start;
      font-weight: 600; }
      @media only screen and (min-width: 768px) {
        .faq-container .contenedorInner .acordion {
          font-weight: 600;
          font-size: 20px;
          font-weight: normal;
          gap: .5rem; } }
    .faq-container .contenedorInner .border {
      border-radius: 20px 20px 0 0; }
    .faq-container .contenedorInner .panel {
      background-color: #FFFFFF;
      display: none;
      border-bottom: solid 2px #FFE1EC;
      padding: 1rem;
      overflow: hidden;
      border-left: solid 4px #F088AF; }
      .faq-container .contenedorInner .panel p {
        font-size: 13px; }
        @media only screen and (min-width: 768px) {
          .faq-container .contenedorInner .panel p {
            font-weight: bold;
            font-size: 16px;
            font-weight: 400;
            padding: 0 1.7rem; } }
    .faq-container .contenedorInner .acordion-curba {
      background-color: #FFFFFF;
      height: 20px;
      border-radius: 0 0 20px 20px;
      border-top: none; }
    .faq-container .contenedorInner .noB {
      border-bottom: none; }
    .faq-container .contenedorInner .activo {
      display: flex;
      justify-content: center; }

@media only screen and (min-width: 1224px) {
  .madmax-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 1rem 0; } }

.madmax-container .newsletter-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: .5rem; }
  @media only screen and (min-width: 768px) {
    .madmax-container .newsletter-container {
      margin-bottom: -1.5rem; } }
  @media only screen and (min-width: 1224px) {
    .madmax-container .newsletter-container {
      flex-direction: row; } }
  .madmax-container .newsletter-container .newsletter-img {
    width: 232px; }
    @media only screen and (min-width: 768px) {
      .madmax-container .newsletter-container .newsletter-img {
        width: 350px;
        margin-top: 1rem; } }
  .madmax-container .newsletter-container .newsletter-title {
    font-weight: 900;
    font-size: 32px;
    text-align: center; }
    @media only screen and (min-width: 768px) {
      .madmax-container .newsletter-container .newsletter-title {
        margin-top: 1rem;
        font-weight: 900;
        font-size: 40px; } }
  .madmax-container .newsletter-container .barrita-newsletter {
    color: #F088AF;
    background-color: #F088AF;
    height: 0.1rem;
    border: none;
    border-radius: 10px;
    width: 180px; }
    @media only screen and (min-width: 768px) {
      .madmax-container .newsletter-container .barrita-newsletter {
        justify-self: center;
        color: #F088AF;
        background-color: #F088AF;
        height: 3px;
        border: none;
        border-radius: 10px;
        width: 200px; } }
  .madmax-container .newsletter-container .newsletter-text {
    font-size: 14px;
    font-weight: normal;
    text-align: center;
    width: 288px; }
    @media only screen and (min-width: 768px) {
      .madmax-container .newsletter-container .newsletter-text {
        font-size: 20px; } }
  @media only screen and (min-width: 1224px) {
    .madmax-container .newsletter-container .newsletter-texts {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 0.5rem; } }

.madmax-container .p-inline {
  display: flex;
  justify-content: center; }
  @media only screen and (min-width: 1224px) {
    .madmax-container .p-inline {
      display: flex;
      justify-content: center;
      position: relative;
      left: 8rem;
      bottom: 2rem; } }

.madmax-container .p-submitting {
  max-width: 600px !important; }
  @media only screen and (min-width: 1224px) {
    .madmax-container .p-submitting {
      width: 500px; } }

.contact-rrss-container {
  display: flex;
  flex-direction: column;
  align-items: center; }
  .contact-rrss-container .rrss-img {
    width: 232px; }
  .contact-rrss-container .rrss-title {
    font-weight: 900;
    font-size: 32px;
    text-align: center; }
  .contact-rrss-container .barrita-rrss {
    color: #F088AF;
    background-color: #F088AF;
    height: 2px;
    border: none;
    border-radius: 10px;
    width: 160px;
    margin: .5rem 0; }
  .contact-rrss-container .rrss-ico-container {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: 1rem; }
    .contact-rrss-container .rrss-ico-container a img {
      width: calc(1.3rem*1.5); }
    .contact-rrss-container .rrss-ico-container a .rrss-ico-instagram {
      width: calc(1.5rem*1.5); }

.casi-footer {
  margin-bottom: 5rem;
  display: flex;
  justify-content: center; }
  .casi-footer img {
    margin: 2rem 0;
    width: 200px;
    /* height: 72px; */ }

.footer-container .codigoyTexto {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #FFFFFF;
  padding: 0.5rem 0;
  box-shadow: 0 0 1px rgba(0, 0, 0, 0.507); }
  @media only screen and (min-width: 768px) {
    .footer-container .codigoyTexto {
      justify-content: space-around; } }
  .footer-container .codigoyTexto p {
    display: none; }
    @media only screen and (min-width: 768px) {
      .footer-container .codigoyTexto p {
        display: block; } }

.iconoSubir {
  width: 50px; }
  .iconoSubir img {
    cursor: pointer;
    box-shadow: 0 0 1px rgba(0, 0, 0, 0.507);
    border-radius: 50%; }

.fixed {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0; }

.fixed2 {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 0 calc(50% - 20px);
  margin-bottom: 3.5rem; }

@media only screen and (max-width: 768px) {
  /* Preguntas Frecuentes */
  /* .codigoyTexto{
        justify-content: space-around;
        p{
            display: none;
        }
    } */
  /* 
    .acordion{
        @include latoBold12;
    }
    .panel {
        padding: 1rem ;

        p{
            @include latoReg13;
        }
    }
    .pregTitulo{
        @include latoBlack32;
        align-items: flex-start;

    }
    // Productos Destacados 

    .prodsWrap{
        
        gap: 0;
        background-color: $blanco;
        border-radius: 20px;
    }
    .infoWrap{
        width: auto;
        align-items: center;
        padding: 0 1rem 1rem 1rem;
    }
    .invert{
        flex-direction: column;
    }
    .prodsTitulo{
        
    }
    .textoProdsR{
        line-height: 1rem;
        text-align: center;
        @include latoReg16
    }
    .prodsImg{
        width: 216px;
    }
    .prodsRecWrap{
        background-color: rgba(255, 255, 255, 0);
        gap: 1rem;
    }
    .barritaProd{
        @include barrita(160px, 3px);
    }
 */ }

/* animacion */
.animacionWiggle {
  animation: Wiggle 1s  1 alternate ease-out forwards; }

@keyframes Wiggle {
  0% { }
  20% {
    transform: translate(-4rem, 0); }
  40% {
    transform: translate(4rem, 0); }
  60% {
    transform: translate(-2rem, 0); }
  80% {
    transform: translate(2rem, 0); }
  100% { } }
