.prodsImg{
    width: 400px;
}



/* Sección Productos recomendados */
.prodsWrap{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4rem;
}
.infoWrap{
    width: 448px;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.textoProdsR{
    line-height: 1.6rem;
}
.prodsRecWrap{
    background-color: $blanco;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    gap: 5rem;
    padding:5rem 2rem;
}
.invert{
    flex-direction: row-reverse;
}
.fixed{
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
}
.codigoyTexto{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: $blanco;
    padding: 0.5rem 0;
    box-shadow: 0 0 1px rgba(0, 0, 0, 0.507);
}
.iconoSubir{
    display: flex;
    justify-content: center;
    padding: 0.5rem;
    img{
        cursor: pointer;
        box-shadow: 0 0 1px rgba(0, 0, 0, 0.507);
        border-radius: 50%;
    }
}

.pregFrec{
    width: 800px;
    border-radius: 10px;
    margin: 5rem auto;
}
.pregTitulo{

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    margin-bottom: 1rem
}
.barritaProdpf{
    @include barrita(212px);
}
.acordion{
    @include latoBold24;
    display: flex;
    align-items: center;
    justify-content: left;
    gap: 1rem;
    background-color: $blanco;
    color: $textos;
    cursor: pointer;
    padding:  1rem ;
    width: 100%;
    border: none;
    outline: none;
    border-bottom: solid 3px $separadoresPregFrec;
    
}
.border{
    border-radius: 20px 20px 0 0;
}
.borderR{
    border-radius: 0 0 20px 20px;
}
.panel {
    padding: 0 18px;
    background-color: white;
    display: none;
    border-bottom: solid 3px $separadoresPregFrec;
    padding: 2rem;
    overflow: hidden;
    border-left: solid 4px $separadores;
}


.panel p{
    @include latoReg20;
}
/* acordion */
.activo{
    display: block;
}