
@media only screen and (max-width: 768px) {
    /* Preguntas Frecuentes */
    
    /* .codigoyTexto{
        justify-content: space-around;
        p{
            display: none;
        }
    } */
    /* 
    .acordion{
        @include latoBold12;
    }
    .panel {
        padding: 1rem ;

        p{
            @include latoReg13;
        }
    }
    .pregTitulo{
        @include latoBlack32;
        align-items: flex-start;

    }
    // Productos Destacados 

    .prodsWrap{
        
        gap: 0;
        background-color: $blanco;
        border-radius: 20px;
    }
    .infoWrap{
        width: auto;
        align-items: center;
        padding: 0 1rem 1rem 1rem;
    }
    .invert{
        flex-direction: column;
    }
    .prodsTitulo{
        
    }
    .textoProdsR{
        line-height: 1rem;
        text-align: center;
        @include latoReg16
    }
    .prodsImg{
        width: 216px;
    }
    .prodsRecWrap{
        background-color: rgba(255, 255, 255, 0);
        gap: 1rem;
    }
    .barritaProd{
        @include barrita(160px, 3px);
    }
 */
}

/* animacion */

.animacionWiggle{
    animation: Wiggle 1s  1 alternate ease-out forwards;
}


@keyframes Wiggle {
    0%{
    
    }
    20%{
        transform: translate(-4rem,0);
    }
    40%{
        transform: translate(4rem,0);
    }
    60%{
        transform: translate(-2rem,0);
    }
    80%{
        transform: translate(2rem,0);
    }
    100%{

    }
}
