//Textos
@mixin latoReg13{
    font-size:13px;
}
@mixin latoBold12{
    font-weight: bold;
    font-size: 12px;
}
@mixin latoReg14{
    font-size: 14px;
    font-weight: normal;
}
@mixin latoReg16{
    font-size: 16px;
    font-weight: normal;
}
@mixin latoItalic12{
    font-style: italic;
    font-size: 12px;
}
@mixin latoItalic14{
    font-style: italic;
    font-size: 14px;
}
@mixin latoItalic20{
    font-style: italic;
    font-size: 20px;
}
@mixin latoReg20{
    font-size: 20px;
}
@mixin latoBold16{
    font-weight: bold;
    font-size: 16px;
}
@mixin latoBold20{
    font-weight: 600;
    font-size: 20px;
}
@mixin latoReg24{
    font-size: 24px;
}
@mixin latoBold24{
    font-weight: bold;
    font-size: 24px;
}
@mixin latoExtraBold24{
    font-weight: bolder;
    font-size: 24px;
}
@mixin latoBold32{
    font-weight: bold;
    font-size: 32px;
}
@mixin latoBlack32{
    font-weight: 900;
    font-size: 32px;
}
@mixin latoBlack48{
    font-weight: 900;
    font-size: 48px;
}
@mixin latoBlack40{
    font-weight: 900;
    font-size: 40px;
}
@mixin latoBlack64{
    font-weight: 900;
    font-size: 64px;
}
@mixin barrita($width, $height) {
    color:$separadores;
    background-color: $separadores;
    height: $height;
    border: none;
    border-radius: 10px;
    width:$width;
}
