@import "./mixins";
//Reset
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
}
html{
    scroll-behavior: smooth;
}
:root{
    @include latoReg24;
}

main{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}