@import "./base/variables";
@import "./base/mixins";


.botonProdsRecomendados{
    @include latoBold20;
    color:$blanco;
    background-color: $botonRojo;
    width: 212px;
    height: 56px;
    img{
        width: 28px;
    }
}
/* Botones Descuentos */
.botonDescuento{
    @include latoReg13;
    padding: 0.5rem 0;
    width: 300px;
    height: 48px;
    color:$textos;
    background-color: $blanco;
}   
.botonDescuentoClickeado{
    @include latoReg13; 
    padding: 0.5rem 0;
    background-color: $botonRojo;
    color: $blanco;
    font-weight: bold;
    width: 300px;
    height: 40px;
}
/* botones descuentos Fijo bottom */
.botonDescuentoFijo{
    @include latoReg13;
    width: 328px;
    height: 48px;
    color:$blanco;
    background-color: $botonRojo;
    @media only screen and (min-width: 1224px) {
        height: 40px;
    }
}   
.botonDescuentoClickeadoFijo{
    @include latoReg13; 
    background-color: $blanco;
    color: $textos;
    font-weight: bold;
    width: 328px;
    height: 48px;
}
/* Boton */
.boton{
    display: flex;
    text-decoration: none;
    gap: 0.5rem;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    border: none;
    border-radius: 50px;
    &:hover{
        cursor: pointer;
    }
}
/* Boton suscripcion */
.botonSuscripcion{
    @include latoBold16;
    color:$blanco;
    background-color: $botonRojo;
    width: 280px;
    height: 40px;
    img{
        width: 28px;
    }
}
