.faq-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 2rem;
    .contenedorInner{
        width: 100%;
        max-width: 800px;
        .pregTitulo{
            @include latoBlack32;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            gap: 1rem;
            margin-bottom: 1rem;
            line-height: 1.3rem;
            @media only screen and (min-width: 768px) {
                align-items: center;
            } 
            .barritaProdpf{
                @include barrita(160px, 3px);
            }
        }
        .acordion{
            @include latoBold12;
            display: flex;
            align-items: center;
            justify-content: left;
            gap: .2rem;
            background-color: $blanco;
            color: $textos;
            cursor: pointer;
            padding:  1rem ;
            width: 100%;
            border: none;
            outline: none;
            border-bottom: solid 2px $separadoresPregFrec;
            text-align: start;
            font-weight: 600;    
            @media only screen and (min-width: 768px) {
                @include latoBold20;
                font-weight: normal;
                gap: .5rem;
            } 
        }
        .border{
            border-radius: 20px 20px 0 0;
        }
        .panel {
            background-color: $blanco;
            display: none;
            border-bottom: solid 2px $separadoresPregFrec;
            padding: 1rem ;
            overflow: hidden;
            border-left: solid 4px $separadores;
            p{
                @include latoReg13;
                @media only screen and (min-width: 768px) {
                    @include latoBold16;
                    font-weight: 400;
                    padding: 0 1.7rem;
                    

                } 
                
            }
            
        
        }
        .acordion-curba{
            background-color: $blanco;
            height: 20px;
            border-radius: 0 0 20px 20px;
            border-top: none;
        }
        .noB {
            border-bottom: none;
        }
        /* para Js */
        .activo{
            display: flex;
            justify-content: center;
        }
    }
}






