.faq-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 2rem;
    .contenedorInner{
        width: 100%;
        max-width: 800px;
        .pregTitulo{
            @include latoBlack32;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            gap: 1rem;
            margin-bottom: 1rem;
            line-height: 1.3rem;
            .barritaProdpf{
                @include barrita(160px, 3px);
            }
        }
        .acordion{
            @include latoBold12;
            display: flex;
            align-items: center;
            justify-content: left;
            gap: .2rem;
            background-color: $blanco;
            color: $textos;
            cursor: pointer;
            padding:  1rem ;
            width: 100%;
            border: none;
            outline: none;
            border-bottom: solid 3px $separadoresPregFrec;
            text-align: start;
            font-weight: 600;    
        }
        .border{
            border-radius: 20px 20px 0 0;
        }
        .borderR{
            border-radius: 0 0 20px 20px;
        }
        .panel {
            background-color: $blanco;
            display: none;
            border-bottom: solid 3px $separadoresPregFrec;
            padding: 1rem ;
            overflow: hidden;
            border-left: solid 4px $separadores;
            p{
                @include latoReg13;
            }
        /* para Js */
        }
        .activo{
            display: block;
        }
    }
}



