.casi-footer{
    margin-bottom: 5rem;
    display: flex;
    justify-content: center;
    img{
        margin: 2rem 0;
        width: 200px;
        /* height: 72px; */
    }
}

.footer-container{
    .codigoyTexto{
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: $blanco;
        padding: 0.5rem 0;
        box-shadow: 0 0 1px rgba(0, 0, 0, 0.507);
        @media only screen and (min-width: 768px) {
            justify-content: space-around;
        } 
        p{
            display: none;
            @media only screen and (min-width: 768px) {
                display: block;
            } 
        }
    }
    

}
.iconoSubir{
    width: 50px;
    img{
        cursor: pointer;
        box-shadow: 0 0 1px rgba(0, 0, 0, 0.507);
        border-radius: 50%;
    }
}
.fixed{
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
}
.fixed2{
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 0 calc(50% - 20px);
    margin-bottom: 3.5rem;
}