.welcome-container{
    margin-top: 1.2rem;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: .8rem;
    text-align: center;
    color: $textos;
    @media only screen and (min-width: 768px) {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 0.8fr 0.8fr;
        gap: 0;
    }
    @media only screen and (min-width: 1224px) {
        grid-template-rows: 50px 1fr 0.8fr 0.8fr;
        width: 75vw;
        margin: 1rem auto;
        column-gap: 3rem;
    }
}

.welcome-description{
    display: flex;
    flex-direction: column;
    align-items: center;
    @media only screen and (min-width: 768px) {
        width: 315px;
        grid-row: 1 / 2;
        grid-column: 2 / 3;
        align-self: flex-end;
        justify-self: center;
    }   
    @media only screen and (min-width: 1224px) {
        grid-row: 2 / 3;
    }
    .welcome-title{
        @include latoBlack40; 
        @media only screen and (min-width: 1224px) {
            @include latoBlack64; 
        }
    }
    .welcome-text{
        @include latoReg16;
        margin-top: 10px;
        width: 201px;
        text-align: center;
        @media only screen and (min-width: 768px) {
            margin-top: 5px;
            width: 315px;
            line-height: 0.9rem;
        }
        @media only screen and (min-width: 1224px) {
            @include latoReg24;
            width: 472px;
            letter-spacing: -1px; 
            line-height: 1.2rem;
        } 
    }
}    

.desc-code-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    @media only screen and (min-width: 768px) {
        grid-row:  2 / 3;
        grid-column:  2 / 3;
        align-self: flex-start;
        padding-top: .9rem;
    }
    @media only screen and (min-width: 1224px) {
        grid-row:  3 / 4;
    }
    .code-info{
        @include latoReg13;
        width: 228px;
        @media only screen and (min-width: 768px) {
            @include latoReg16;
            width: 300px;
        }
    }
    .botonDescuento{
        @media only screen and (min-width: 1224px) {
            width: 350px;
            height: 40px;
        }
    }
}

.iralatienda-container-mobile{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
    .iralatienda-title{
        @include latoReg20;
    }
    @media only screen and (min-width: 768px) {
        display: none;
    } 
}

.iralatienda-btn-desktop{
    display: none;
    @media only screen and (min-width: 768px) {
        display: flex;
        justify-self: center;
        align-self: flex-start;
        padding-top: 5px;
        grid-row:  3 / 4;
        grid-column:  2 / 3;
    }
    @media only screen and (min-width: 1224px) {
        grid-row:  4 / 5;
        align-self: flex-start;
    }
    /* Boton */
    .botonProdsRecomendados{
        font-weight: normal;
        width: 200px;
        height: 50px;
        @media only screen and (min-width: 1224px) {
            @include latoReg20;
            font-weight: normal;
            width: 200px;
            height: 45px;
            color:$blanco;
            background-color: $botonRojo;
            img{
                width: 25px;
            }
        } 
    }
}

.welcome-img{
    width: 237px;

    @media only screen and (min-width: 768px) {
        grid-row: 1 / 4;
        grid-column: 1 / 2;
        width:350px ;
        justify-self: center;
    }
    @media only screen and (min-width: 1224px) {
        grid-row: 1 / 5;
        width: 432px;
    }
}

