.welcome-container{
    margin-top: 1.2rem;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: .8rem;
    text-align: center;
    color: $textos;
}

.welcome-description{
    display: flex;
    flex-direction: column;
    align-items: center;
    .welcome-title{
        @include latoBlack40;
    }
    .welcome-text{
        margin-top: 10px;
        width: 201px;
        text-align: center;
        @include latoReg16;
    }
}    

.desc-code-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    .code-info{
        @include latoReg13;
        width: 228px;
    }
}

.iralatienda-container-mobile{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
    .iralatienda-title{
        @include latoReg20;
    }
}

.iralatienda-btn-desktop{
    display: none;
}

.welcome-img{
    width: 237px;
}
