.madmax-container{
    @media only screen and (min-width: 1224px) {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 1rem 0;
    }
    .newsletter-container{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: .5rem;
        @media only screen and (min-width: 768px) {
            margin-bottom: -1.5rem;
        } 
        @media only screen and (min-width: 1224px) {
            flex-direction: row; 
        }
        .newsletter-img {
            width: 232px;
            @media only screen and (min-width: 768px) {
                width:350px ;
                margin-top: 1rem;
            } 
            @media only screen and (min-width: 1224px) {
                align-self: flex-start;
                width:450px;
            } 
        }
        .newsletter-texts{
            display: flex;
            flex-direction: column;
            align-items: center;
            @media only screen and (min-width: 1224px) {
                gap: 0.5rem;
            }
            .newsletter-title{
                @include latoBlack32;
                text-align: center;
                @media only screen and (min-width: 768px) {
                    margin-top: 1rem;
                    @include latoBlack40;
                } 
            }
            .barrita-newsletter{
                @include barrita(180px, .1rem);
                @media only screen and (min-width: 768px) {
                    justify-self: center;
                    @include barrita (200px , 3px)
                } 
            }
            .newsletter-text{
                @include latoReg14;
                text-align: center;
                width: 288px;
                @media only screen and (min-width: 768px) {
                    @include latoReg20;
                } 
            } 
        }
        

    }
    .p-inline{
        display: flex;
        justify-content: center;
        @media only screen and (min-width: 1224px) {
            align-self: center;
            justify-self: center;
            margin-top: -1.5rem;
            /* display:flex; 
            justify-content:center; 
            position: relative; 
            left: 12rem;
            bottom: 6rem; */
        }
    }
    .p-submitting{
        width: 360px;
        @include latoReg16;
        @media only screen and (min-width: 1224px) {
            width: 500px;
            @include latoReg20;
        } 
        
        max-width: 600px !important;
    }
}


