@import '../base/variables';
.productos-rec-container{
    display: flex;
    align-items: center;
    justify-content: center;
    @media only screen and (min-width: 768px) {
        justify-content: start;
        overflow: hidden;
    } 
    .prodsRecWrap{
        background-color: rgba(255, 255, 255, 0);
        border-radius: 20px;
        display: flex;
        flex-direction: column;
        gap: 1rem;
        padding:1rem 0;
        margin: 1rem;
        min-width: 328px;
        @media only screen and (min-width: 768px) {
            flex-direction: row;
            
            gap: 1.5rem;
            overflow-x: scroll;
        } 
        .prodsWrap{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 0;
            background-color: $blanco;
            border-radius: 20px;
            padding: 1rem;
            @media only screen and (min-width: 768px) {
                min-width: 350px;
                box-shadow: 8px 8px 14px rgba(75, 74, 74, 0.2);
            } 
            div{
                .prodsImg{
                    width: 216px;
                }
            }
            .infoWrap{
                width: auto;
                align-items: center;
                display: flex;
                padding:0 0.19rem 1rem 0.18rem;
                flex-direction: column;
                gap: 1rem;
                .prodsTitulo{
                    @include latoBlack32;
                    text-align: center;
                }
                .textoProdsR{
                    line-height: 1rem;
                    text-align: center;
                    @include latoReg16
                }
                .barritaProd{
                    @include barrita(160px, 3px);
                }
            }
            
        }
        .invert{
            flex-direction: column;
        }
        
    }
}


