.testimonios-container{
    padding: 1rem;
    display: flex;
    overflow-x: scroll;

    .testimonios-card{
        margin: 0 20px;
        height: 264px;
        min-width: 216px;
        padding: 1rem;
        background-color: $blanco;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        border-radius: 10px;
        img{
            width: 40px;
            height: 40px;
        }
        .user-name{
            @include latoBold16;
            color: $botonRojo;
            text-rendering: geometricPrecision;
        }
        .testimonio-usuario{
            margin: 15px 0;
            line-height: .8rem;
            width: 172px;
            text-align: center;
            text-rendering: optimizeLegibility;
            
            @include latoReg14;
        }
        .card-facebook{
            @include latoItalic12;
        }
    }
}